<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>

<body>
    <header>
        <h2>Mis Proyectos</h2>
    </header>

    <nav> <!- ds ->
        <a href="./index.html">Inicio</a>
        <a href="sobreMi.html">Sobre Mi</a>
        <a href="proyectos.html">Proyectos</a>
        <a href="#">Contacto</a>
    </nav>


    <main>

        <form action="">
            <fieldset>
                <legend>Contactame mediante el siguiente formulario</legend>

                <div> <!-- contenedor de campos -->

                <div>
                    <label>Nombre</label>
                    <input type="text" placeholder="Tilin">
                </div>

                <div>
                    <label>Telefono</label>
                    <input type="text" placeholder="+56912345678">
                </div>

                <div>
                    <label>Correo</label>
                    <input type="text" placeholder="ejemplo@gmail.com">
                </div>

                <div>
                    <label>Tipo de aplicacion</label>
                    <select name="" id="">
                        <option value="">seleccione</option>
                        <option value="1">Web</option>
                        <option value="2">Movil</option>
                        <option value="3">Consulta</option>
                    </select>
                </div>

                <div>
                    <label>Mensaje</label>
                    <textarea placeholder="Escribe tu mensaje" name="" id=""></textarea>
                </div>

                <div>
                    <input type="submit" value="Enviar">
                </div>


                </div>

            </fieldset>
        </form>

    </main>


    <footer>
        <p>Todos los derechos reservados. Ignacio Felipe Umaña Morel.</p>
    </footer>

</body>
</html>
