<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
</head>
<body>
    <header>
        <h2>Mis Proyectos</h2>
    </header>

    <nav> <!- ds ->
        <a href="./index.html">Inicio</a>
        <a href="sobreMi.html">Sobre Mi</a>
        <a href="#">Proyectos</a>
        <a href="contacto.html">Contacto</a>
    </nav>

    <main>
        <h1>Proyectos</h1>
        <h3>Foto generica numero 1</h3>
        <img src="imagenes/celeste eding.PNG" alt="foto Celeste" width="50%">

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est non sit, accusamus aspernatur at omnis. Quas odit minus nostrum alias.</p>

        <h4>Caracteristicas</h4>
        <ul>
            <li>Tipo de aplicacion: </li>
            <li>Framework: </li>
            <li>Base de datos: </li>
            <li>Lenguaje de programacion: </li>
            <li>Fecha inicio: </li>
            <li>Fecha termino: </li>
        </ul>

        <a href="https://youtube.com">
            <img src="imagenes/github.png" alt="repocitorio">
        </a>

        <hr>

        <h3>Foto generica numero 2</h3>
        <img src="imagenes/Captura.PNG" alt="foto bleach" width="50%">

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est non sit, accusamus aspernatur at omnis. Quas odit minus nostrum alias.</p>

        <h4>Caracteristicas</h4>
        <ul>
            <li>Tipo de aplicacion: </li>
            <li>Framework: </li>
            <li>Base de datos: </li>
            <li>Lenguaje de programacion: </li>
            <li>Fecha inicio: </li>
            <li>Fecha termino: </li>
        </ul>

        <a href="https://youtube.com">
            <img src="imagenes/github.png" alt="repocitorio">
        </a>


    </main>




    <footer>
        <p>Todos los derechos reservados. Ignacio Felipe Umaña Morel.</p>
    </footer>
</body>
</html>
