<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mi</title>
</head>
<body>
    <header>
        <h2>Mi Portafolio</h2>
    </header>

    <nav> <!- ds ->
        <a href="./index.html">Inicio</a>
        <a href="#">Sobre Mi</a>
        <a href="proyectos.html">Proyectos</a>
        <a href="contacto.html">Contacto</a>
    </nav>

    <main>
        <h1>Hola soy el_KuajinaiSS</h1>
        <p>Lorem ipsum dolor sit amet.</p>
        <a href="#">
            <img src="imagenes/github.png" alt="githubIcon">
        </a>
        <a href="#">
            <img src="imagenes/linkedin.png" alt="linkedinIcon">
        </a>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium facilis, temporibus deleniti sint consectetur nisi voluptatum! Veniam ipsa, ut impedit, suscipit eos accusantium voluptatem adipisci voluptate dolorem dicta odio ipsum?</p>

        <ul>
            <li>Carrera: ICCI</li>
            <li>Edad: </li>
            <li>Fecha de nacimiento: </li>
            <li>Nacionalidad: </li>
        </ul>

        <img src="imagenes/Cirno.jpg" alt="Foto">

    </main>




    <footer>
        <p>Todos los derechos reservados. Ignacio Felipe Umaña Morel.</p>
    </footer>

</body>
</html>
